@{
    Layout = null;
}
@model Endity.Person
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>姓名</td>
                <td>年龄</td>
                <td>性别</td>
            </tr>
            @{
                foreach (var item in ViewData["persons"] as List<Endity.Person>)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@(item.Sex?"男":"女")</td>
                    </tr>
                }
            }
           
        </table>
    </div>
</body>
</html>
